.node {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 2px;
}

.link {
  stroke: #ccc;
  stroke-width: 2px;
}

.artist {
  -webkit-text-stroke: 2px #fff;
  text-shadow: 3px 3px 0 #fff;
  color: #000;
}

.block {
  display: block;
}

.curtain {
  z-index: 2;
  background-color: #000000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.modal {
  background-color: #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85vw;
  /*height: 49vh;*/
  z-index: 3;
  border-radius: 10px;
  opacity: 1;
}

.menuButtonContainer {
  background-color: #FFF;
  height: 60px;
  width: 60px;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 45px;
  text-align: center;
}

.menuButtonContainer:hover {
  background-color: #dbdbdb;
}

.main-menu-button {
  position: absolute;
  top: 25px;
}
