.node {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 2px;
}

.link {
  stroke: #ccc;
  stroke-width: 2px;
}

.artist {
  -webkit-text-stroke: 2px #fff;
  text-shadow: 3px 3px 0 #fff;
  color: #000;
}
