<form>
  <h3>Edit Artist</h3>
  <div class="row">
    <div class="six columns">
      <label for="nameInput">Artist Name:</label>
      <input class="u-full-width" type="text" ng-model="vw.artist.fullName">
    </div>
    <div class="six columns">
    <!-- UI-Selects -->

      <!-- Select Related Genre -->
      <label>Select genre(s):</label>
      <ui-select multiple
      ng-model="vw.artist.genre"
      >
        <ui-select-match
        placeholder="Select genre..."
        >
          {{$item.name}}
        </ui-select-match>
        <ui-select-choices
        repeat="genre in vw.genreList | propsFilter: {name: $select.search}">
          <span ng-bind-html="genre.name | highlight: $select.search"></span>
        </ui-select-choices>
      </ui-select>

      <!-- Select Influence Artists -->
      <label>Select Influences</label>
      <ui-select multiple
      ng-model="vw.artist.mentors"
      >
        <ui-select-match
        placeholder="Select mentor..."
        >
          {{$item.fullName}}
        </ui-select-match>
        <ui-select-choices
        group-by="vw.groupArtists"
        repeat="artist in vw.artistList | propsFilter: {fullName: $select.search}"
        >
          <div ng-bind-html="artist.fullName | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>

      <!-- Select Protege Artists -->
      <label>Select Proteges</label>
      <ui-select multiple
      ng-model="vw.artist.proteges"
      >
        <ui-select-match placeholder="Select protege...">
          {{$item.fullName}}
        </ui-select-match>
        <ui-select-choices
          group-by="vw.groupArtists"
          repeat="artist in vw.artistList | propsFilter: {fullName: $select.search}"
          >
          <div ng-bind-html="artist.fullName | highlight: $select.search"></div>
        </ui-select-choices>

      </ui-select>
      <!-- End UI-select -->

    </div>
  </div>
  <div class="row">
    <label for="artistdescription">Description:</label>
    <textarea name="artistdescription" class="u-full-width" ng-model="vw.artist.description"></textarea>




    <input class="button-primary" type="submit" value="submit" ng-click="vw.updateArtist(vw.artist)">
  </div>
</form>
