<form>
  <h3>Edit Artist</h3>
  <div class="row">
    <div class="six columns">
      <label for="nameInput">Artist Name:</label>
      <input class="u-full-width" type="text" ng-model="vw.artist.fullName">
    </div>
    <div class="six columns">
    <!-- UI-Selects -->

      <!-- Select Related Genre -->
      <label>Select genre(s):</label>
      <ui-select multiple
      ng-model="vw.artist.genre"
      >
        <ui-select-match
        placeholder="Select genre..."
        >
          {{$item.name}}
        </ui-select-match>
        <ui-select-choices
        repeat="genre in vw.genreList">
          <span ng-bind="genre.name"></span>
        </ui-select-choices>
      </ui-select>

      <!-- Select Related Artists -->
      <label>Select Influences</label>
      <ui-select multiple
      ng-model="vw.artist.mentors"
      >
        <ui-select-match
        placeholder="Select mentor..."
        >
          {{$item.fullName}}
        </ui-select-match>
        <ui-select-choices
        repeat = "artist in vw.artistList"
        >
          <span ng-bind="artist.fullName"></span>
        </ui-select-choices>
      </ui-select>
      <!-- End UI-select -->

    </div>
  </div>

  <label for="artistdescription">Description:</label>
  <textarea name="artistdescription" class="u-full-width" ng-model="vw.artist.description"></textarea>




  <input class="button-primary" type="submit" value="submit" ng-click="vw.updateArtist(vw.artist)">
</form>
