<div class="container top-margin">
  <h3>{{vw.user.username}}</h3>
  <form ng-submit="vw.updateUser(vw.user)">
    <input type="text" ng-model="vw.user.username"><br>
    <input type="text" ng-model="vw.user.firstName" placeholder="First Name"><br>
    <input type="text" ng-model="vw.user.lastName" placeholder="Last Name"><br>
    <input type="email" ng-model="vw.user.email" placeholder="E-mail"><br>
    <textarea placeholder="bio" ng-model="vw.user.bio"></textarea><br>
    <input type="submit" class="button-primary" value="Submit">
  </form>
</div>
