<form ng-submit="loginUser(user)">
  <h3>Sign Up for Influences</h3>
  <input class="u-full-width"
  type="text"
  placeholder="Username"
  id="usernameInput"
  ng-model="user.username"
  >
  <input type="password"
  class="u-full-width"
  placeholder="Password"
  id="passwordInput"
  ng-model="user.password"
  >
  <input class="u-full-width"
  type="text"
  placeholder="Enter invite token"
  ng-model="user.inviteToken"
  >
  <input class="button-primary"
  type="submit"
  value="Submit"
  ng-click="signupUser(user)"
  >

</form>
